In [1]:
from signals import signals

In [5]:
import numpy
import talib

close = numpy.random.random(100)

output = talib.SMA(close)
output

array([       nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan, 0.43965529,
       0.45044783, 0.4690226 , 0.4890469 , 0.49686466, 0.50079938,
       0.47320451, 0.47286181, 0.48635741, 0.47442569, 0.46641913,
       0.4797199 , 0.49192973, 0.47922187, 0.49772087, 0.52692601,
       0.53484863, 0.54648555, 0.53191402, 0.52074496, 0.5457568 ,
       0.55288141, 0.56157683, 0.54201416, 0.54453931, 0.52573304,
       0.50877454, 0.51527821, 0.50010637, 0.50413868, 0.5222896 ,
       0.49954   , 0.50574882, 0.48137469, 0.46293525, 0.45431442,
       0.473789  , 0.48091532, 0.47015504, 0.49576824, 0.50784443,
       0.4916112 , 0.46807214, 0.47445897, 0.46096137, 0.46017336,
       0.45160672, 0.45071516, 0.46720873, 0.48461609, 0.46043017,
       0.46178597, 0.46282805, 0.47311959, 0.47522355, 0.48959259,
       0.50892708, 0.51456796, 0.51497985, 0.52332266, 0.51312126,
       0.53728019, 0.51816948, 0.53494921, 0.5432863 , 0.54472788,
       0.54602095, 0.55767565, 0.54580681, 0.53943963, 0.51988729])

In [2]:
file = r"C:\Users\8prab\Google Drive\Work\xooca-git\trading_related\BHARTIARTL.NS\hist_2010-01-01_2020-06-19.csv"

In [9]:
from talib import MA_Type
upper, middle, lower = talib.BBANDS(close, matype=MA_Type.T3)

In [15]:
import talib

In [22]:
help(talib.AVGPRICE)

Help on function AVGPRICE in module talib._ta_lib:

AVGPRICE(...)
    AVGPRICE(open, high, low, close)

    Average Price (Price Transform)

    Inputs:
        prices: ['open', 'high', 'low', 'close']
    Outputs:
        real

In [14]:
talib.get_function_groups()

{'Cycle Indicators': ['HT_DCPERIOD',
  'HT_DCPHASE',
  'HT_PHASOR',
  'HT_SINE',
  'HT_TRENDMODE'],
 'Math Operators': ['ADD',
  'DIV',
  'MAX',
  'MAXINDEX',
  'MIN',
  'MININDEX',
  'MINMAX',
  'MINMAXINDEX',
  'MULT',
  'SUB',
  'SUM'],
 'Math Transform': ['ACOS',
  'ASIN',
  'ATAN',
  'CEIL',
  'COS',
  'COSH',
  'EXP',
  'FLOOR',
  'LN',
  'LOG10',
  'SIN',
  'SINH',
  'SQRT',
  'TAN',
  'TANH'],
 'Momentum Indicators': ['ADX',
  'ADXR',
  'APO',
  'AROON',
  'AROONOSC',
  'BOP',
  'CCI',
  'CMO',
  'DX',
  'MACD',
  'MACDEXT',
  'MACDFIX',
  'MFI',
  'MINUS_DI',
  'MINUS_DM',
  'MOM',
  'PLUS_DI',
  'PLUS_DM',
  'PPO',
  'ROC',
  'ROCP',
  'ROCR',
  'ROCR100',
  'RSI',
  'STOCH',
  'STOCHF',
  'STOCHRSI',
  'TRIX',
  'ULTOSC',
  'WILLR'],
 'Overlap Studies': ['BBANDS',
  'DEMA',
  'EMA',
  'HT_TRENDLINE',
  'KAMA',
  'MA',
  'MAMA',
  'MAVP',
  'MIDPOINT',
  'MIDPRICE',
  'SAR',
  'SAREXT',
  'SMA',
  'T3',
  'TEMA',
  'TRIMA',
  'WMA'],
 'Pattern Recognition': ['CDL2CROWS',
  'CDL3BLACKCROWS',
  'CDL3INSIDE',
  'CDL3LINESTRIKE',
  'CDL3OUTSIDE',
  'CDL3STARSINSOUTH',
  'CDL3WHITESOLDIERS',
  'CDLABANDONEDBABY',
  'CDLADVANCEBLOCK',
  'CDLBELTHOLD',
  'CDLBREAKAWAY',
  'CDLCLOSINGMARUBOZU',
  'CDLCONCEALBABYSWALL',
  'CDLCOUNTERATTACK',
  'CDLDARKCLOUDCOVER',
  'CDLDOJI',
  'CDLDOJISTAR',
  'CDLDRAGONFLYDOJI',
  'CDLENGULFING',
  'CDLEVENINGDOJISTAR',
  'CDLEVENINGSTAR',
  'CDLGAPSIDESIDEWHITE',
  'CDLGRAVESTONEDOJI',
  'CDLHAMMER',
  'CDLHANGINGMAN',
  'CDLHARAMI',
  'CDLHARAMICROSS',
  'CDLHIGHWAVE',
  'CDLHIKKAKE',
  'CDLHIKKAKEMOD',
  'CDLHOMINGPIGEON',
  'CDLIDENTICAL3CROWS',
  'CDLINNECK',
  'CDLINVERTEDHAMMER',
  'CDLKICKING',
  'CDLKICKINGBYLENGTH',
  'CDLLADDERBOTTOM',
  'CDLLONGLEGGEDDOJI',
  'CDLLONGLINE',
  'CDLMARUBOZU',
  'CDLMATCHINGLOW',
  'CDLMATHOLD',
  'CDLMORNINGDOJISTAR',
  'CDLMORNINGSTAR',
  'CDLONNECK',
  'CDLPIERCING',
  'CDLRICKSHAWMAN',
  'CDLRISEFALL3METHODS',
  'CDLSEPARATINGLINES',
  'CDLSHOOTINGSTAR',
  'CDLSHORTLINE',
  'CDLSPINNINGTOP',
  'CDLSTALLEDPATTERN',
  'CDLSTICKSANDWICH',
  'CDLTAKURI',
  'CDLTASUKIGAP',
  'CDLTHRUSTING',
  'CDLTRISTAR',
  'CDLUNIQUE3RIVER',
  'CDLUPSIDEGAP2CROWS',
  'CDLXSIDEGAP3METHODS'],
 'Price Transform': ['AVGPRICE', 'MEDPRICE', 'TYPPRICE', 'WCLPRICE'],
 'Statistic Functions': ['BETA',
  'CORREL',
  'LINEARREG',
  'LINEARREG_ANGLE',
  'LINEARREG_INTERCEPT',
  'LINEARREG_SLOPE',
  'STDDEV',
  'TSF',
  'VAR'],
 'Volatility Indicators': ['ATR', 'NATR', 'TRANGE'],
 'Volume Indicators': ['AD', 'ADOSC', 'OBV']}

In [3]:
sg = signals(file)

In [5]:
sg.df

              open    high     low  act_close   close      volume
date
2010-04-09  286.47  290.60  281.88     282.71  266.75   6364752.0
2010-04-08  292.90  295.19  284.64     287.30  271.08   6750418.0
2010-04-07  291.06  299.14  288.03     294.18  277.58   5664078.0
2010-04-06  291.52  292.71  286.29     290.56  274.16   4053513.0
2010-04-05  281.88  292.12  277.75     290.19  273.81  10543536.0
...            ...     ...     ...        ...     ...         ...
2020-04-01  440.00  440.00  412.40     421.35  421.35   9469123.0
2020-03-31  441.00  447.00  424.00     440.90  440.90  16745069.0
2020-03-30  443.85  449.30  428.00     431.05  431.05  10022553.0
2020-03-27  470.70  474.80  437.50     448.95  448.95  16076572.0
2020-03-26  426.50  493.45  420.25     470.70  470.70  21891559.0

[2085 rows x 6 columns]

In [6]:
sg()

In [7]:
sg.df

,open,high,low,act_close,close,volume,ma_fast,ma_slow,macd,signal,signal-macd
date,,,,,,,,,,,
2010-04-09,286.47,290.60,281.88,282.71,266.75,6364752.0,NaN,NaN,NaN,NaN,NaN
2010-04-08,292.90,295.19,284.64,287.30,271.08,6750418.0,NaN,NaN,NaN,NaN,NaN
2010-04-07,291.06,299.14,288.03,294.18,277.58,5664078.0,NaN,NaN,NaN,NaN,NaN
2010-04-06,291.52,292.71,286.29,290.56,274.16,4053513.0,NaN,NaN,NaN,NaN,NaN
2010-04-05,281.88,292.12,277.75,290.19,273.81,10543536.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2020-04-01,440.00,440.00,412.40,421.35,421.35,9469123.0,472.981740,490.610426,-17.628686,-8.650115,8.978571
2020-03-31,441.00,447.00,424.00,440.90,440.90,16745069.0,468.046088,486.928172,-18.882084,-10.696509,8.185576
2020-03-30,443.85,449.30,428.00,431.05,431.05,10022553.0,462.354382,482.789049,-20.434666,-12.644140,7.790526
2020-03-27,470.70,474.80,437.50,448.95,448.95,16076572.0,460.292170,480.282452,-19.990283,-14.113369,5.876914
2020-03-26,426.50,493.45,420.25,470.70,470.70,21891559.0,461.893374,479.572641,-17.679267,-14.826548,2.852718

In [ ]:
sg.macd()

In [ ]:
sg.atr()

In [ ]:
sg.bollinger_band()

In [ ]:
sg.rsi(15)

In [ ]:
sg.adx(15)

In [ ]:
sg.obv()

In [ ]:
sg.slope()

In [ ]:
sg.renko_chart_df()

In [ ]:
sg.df[~sg.df['uptrend'].isnull()]