In [1]:
from extract_data import yahoo_finance
import pandas as pd
from datetime import datetime
import time
from random import randrange

In [2]:
ticker = 'M&M.NS'
yf = yahoo_finance(ticker=ticker,save_path='./')
yf.get_insider_roster()

In [7]:
yf.insider_roster_url

'https://in.finance.yahoo.com/quote/M&M.NS/insider-roster?p=M&M.NS'

In [3]:
yf.insider_trans_url

'https://in.finance.yahoo.com/quote/M&M.NS/insider-transactions?p=M&M.NS'

In [3]:
nifty50 = pd.read_csv('ind_nifty50list.csv')
nifty50['yahoo_symbols']=nifty50['Symbol'].apply(lambda x:x+'.NS')
nifty50_cols = nifty50['yahoo_symbols'].tolist()
#nifty50_cols

In [4]:
nifty50_cols[30:]

['M&M.NS',
 'MARUTI.NS',
 'NTPC.NS',
 'NESTLEIND.NS',
 'ONGC.NS',
 'POWERGRID.NS',
 'RELIANCE.NS',
 'SHREECEM.NS',
 'SBIN.NS',
 'SUNPHARMA.NS',
 'TCS.NS',
 'TATAMOTORS.NS',
 'TATASTEEL.NS',
 'TECHM.NS',
 'TITAN.NS',
 'UPL.NS',
 'ULTRACEMCO.NS',
 'VEDL.NS',
 'WIPRO.NS',
 'ZEEL.NS']

In [5]:
for ticker in nifty50_cols[30:]:
    print(ticker)
    time.sleep(randrange(1,20))
    yf = yahoo_finance(ticker=ticker,save_path='./')
    yf.run_stock_metadata()

M&M.NS
MARUTI.NS
NTPC.NS
NESTLEIND.NS
ONGC.NS
POWERGRID.NS
RELIANCE.NS
SHREECEM.NS
SBIN.NS
SUNPHARMA.NS
TCS.NS
TATAMOTORS.NS
TATASTEEL.NS
TECHM.NS
TITAN.NS
UPL.NS
ULTRACEMCO.NS
VEDL.NS
WIPRO.NS
ZEEL.NS

In [ ]:
#for ticker in nifty50_cols[:10]:
#    time.sleep(randrange(1,20))
#    yf = yahoo_finance(ticker=ticker,save_path='./')
#    yf.get_historical_bydays(start_date='2010-01-01',end_date='2020-06-19',frequency='1d')

IndexError: list index out of range

In [7]:
yf.summary_url

'https://in.finance.yahoo.com/quote/TATASTEEL.NS?p=TATASTEEL.NS'

In [3]:
yf.get_historical_bydays(start_date='2014-01-01',end_date='2020-06-19',frequency='1d')

https://in.finance.yahoo.com/quote/TCS.NS/history?period1=1514745000&period2=1523385000                &interval=1d&filter=history&frequency=1d
2018-04-11 2018-07-20 2020-06-01 1 (67, 6) (1, 3)
https://in.finance.yahoo.com/quote/TCS.NS/history?period1=1523385000&period2=1532025000                &interval=1d&filter=history&frequency=1d
2018-07-20 2018-10-28 2020-06-01 2 (71, 6) (2, 3)
https://in.finance.yahoo.com/quote/TCS.NS/history?period1=1532025000&period2=1540665000                &interval=1d&filter=history&frequency=1d
2018-10-28 2019-02-05 2020-06-01 3 (65, 6) (1, 3)
https://in.finance.yahoo.com/quote/TCS.NS/history?period1=1540665000&period2=1549305000                &interval=1d&filter=history&frequency=1d
2019-02-05 2019-05-16 2020-06-01 4 (68, 6) (1, 3)
https://in.finance.yahoo.com/quote/TCS.NS/history?period1=1549305000&period2=1557945000                &interval=1d&filter=history&frequency=1d
2019-05-16 2019-08-24 2020-06-01 5 (64, 6) (0, 0)
https://in.finance.yahoo.com/quote/TCS.NS/history?period1=1557945000&period2=1566585000                &interval=1d&filter=history&frequency=1d
2019-08-24 2019-12-02 2020-06-01 6 (69, 6) (2, 3)
https://in.finance.yahoo.com/quote/TCS.NS/history?period1=1566585000&period2=1575225000                &interval=1d&filter=history&frequency=1d
2019-12-02 2020-03-11 2020-06-01 7 (64, 6) (1, 3)
https://in.finance.yahoo.com/quote/TCS.NS/history?period1=1575225000&period2=1583865000                &interval=1d&filter=history&frequency=1d
2020-03-11 2020-06-19 2020-06-01 8 (69, 6) (1, 3)
https://in.finance.yahoo.com/quote/TCS.NS/history?period1=1583865000&period2=1592505000                &interval=1d&filter=history&frequency=1d

In [4]:
yf.historical

                 Open      High       Low    Close* Adj. close**     Volume
10-Apr-2018  1,462.85  1,478.62  1,462.85  1,468.80     1,387.20  11,84,532
09-Apr-2018  1,469.85  1,481.75  1,457.50  1,461.95     1,380.73  12,35,866
06-Apr-2018  1,477.00  1,480.00  1,463.28  1,475.15     1,393.19  11,29,018
05-Apr-2018  1,463.28  1,481.88  1,460.18  1,478.97     1,396.80  18,09,424
04-Apr-2018  1,464.72  1,467.00  1,446.00  1,455.45     1,374.59  28,41,820
...               ...       ...       ...       ...          ...        ...
17-Mar-2020  1,730.00  1,731.00  1,623.15  1,658.00     1,641.15  57,13,248
16-Mar-2020  1,755.00  1,842.25  1,675.85  1,696.40     1,679.16  78,44,271
13-Mar-2020  1,687.90  1,820.00  1,506.05  1,806.30     1,787.94  80,29,720
12-Mar-2020  1,904.00  1,908.40  1,758.35  1,769.85     1,751.86  87,28,786
11-Mar-2020  1,933.00  1,987.30  1,920.00  1,953.70     1,933.84  67,96,449

[603 rows x 6 columns]

In [3]:
yf.run_all(hist_start_date='2010-01-01',hist_end_date='2020-06-19',hist_frequency='1d')

In [1]:
import numpy as np
import time
start_date = np.int64(time.mktime(datetime.strptime('2020-06-18', "%Y-%m-%d").timetuple()))
end_date = np.int64(time.mktime(datetime.strptime('2020-06-19', "%Y-%m-%d").timetuple()))

NameError: name 'datetime' is not defined

In [8]:
from datetime import timedelta  
datetime.strptime('2020-06-18', "%Y-%m-%d") + timedelta(days=-13)

datetime.datetime(2020, 6, 5, 0, 0)

In [8]:
start_date,end_date,start_date-end_date

(1592418600, 1592505000, -86400)

In [14]:
np.int64(time.mktime(datetime.strptime(str(datetime.now().date()), "%Y-%m-%d").timetuple()))

1592677800

In [17]:
datetime.now().date() < datetime.strptime('2020-06-18', "%Y-%m-%d").date()

False

In [23]:
from random import randrange
print(randrange(1,5))

3

In [5]:
df = pd.read_csv('./TCS.NS/hist_1262284200_1592505000.csv')
df

        Open      High       Low    Close* Adj. close**     Volume
0   2,045.00  2,059.20  2,025.20  2,038.10     2,038.10  19,44,389
1   2,046.00  2,058.85  2,026.55  2,047.80     2,047.80  27,03,527
2   2,065.00  2,073.95  2,031.00  2,045.80     2,045.80  21,46,528
3   2,039.10  2,059.00  2,000.95  2,029.90     2,029.90  23,99,022
4   2,011.20  2,049.20  2,011.00  2,039.50     2,039.50  28,42,642
..       ...       ...       ...       ...          ...        ...
93  2,185.00  2,186.95  2,150.00  2,154.60     2,132.70  23,06,761
94  2,174.00  2,187.80  2,152.00  2,183.75     2,161.56  17,43,024
95  2,189.70  2,193.45  2,165.00  2,169.25     2,147.20  15,49,101
96  2,190.95  2,190.95  2,170.00  2,183.40     2,161.21  13,19,430
97  2,209.80  2,217.75  2,183.70  2,190.95     2,168.68  20,69,866

[98 rows x 6 columns]

In [2]:
from pathlib import Path
import data as d
import pandas as pd
from datetime import datetime
df = d.get_cashflow_data('TCS.NS')
df

https://in.finance.yahoo.com/quote/TCS.NS/cash-flow?p=TCS.NS
['ttm', '31/3/2020', '31/3/2019', '31/3/2018', '31/3/2017']
6

,ttm,31/3/2020,31/3/2019,31/3/2018,31/3/2017
Net income,"32,34,00,000","32,34,00,000","31,47,20,000","25,82,60,000","26,28,90,000"
Depreciation & amortisation,"3,52,90,000","3,52,90,000","2,05,60,000","2,01,40,000","1,98,70,000"
Change in working capital,"-4,66,70,000","-4,66,70,000","-2,16,90,000","-20,90,000","-63,10,000"
Inventory,"50,000","50,000","1,60,000",-,-
Other working capital,"29,12,00,000","29,12,00,000","26,36,20,000","23,20,50,000","23,23,30,000"
Other non-cash items,"-2,65,20,000","-2,65,20,000","-2,56,40,000","-2,39,30,000","-2,23,10,000"
Net cash provided by operating activities,"32,36,90,000","32,36,90,000","28,59,30,000","25,06,70,000","25,22,30,000"
"Investments in property, plant and equipment","-3,24,90,000","-3,24,90,000","-2,23,10,000","-1,86,20,000","-1,99,00,000"
"Acquisitions, net",0,0,"-5,00,000",-,-
Purchases of investments,"-1,02,57,00,000","-1,02,57,00,000","-1,16,20,80,000","-1,06,44,50,000","-1,23,72,40,000"
Sales/maturities of investments,"1,10,48,60,000","1,10,48,60,000","1,17,30,50,000","1,08,59,80,000","1,06,75,60,000"
Other investing activities,-,-,"4,40,000","-9,50,000","40,00,000"
Net cash used for investing activities,"8,56,50,000","8,56,50,000","1,59,60,000","2,88,60,000","-16,73,20,000"
Net change in cash,"1,01,90,000","1,01,90,000","2,29,20,000","1,06,80,000","-2,53,50,000"
Cash at beginning of period,"7,22,40,000","7,22,40,000","4,88,30,000","3,59,70,000","6,29,50,000"
Cash at end of period,"8,64,60,000","8,64,60,000","7,22,40,000","4,88,30,000","3,59,70,000"
Operating cash flow,"32,36,90,000","32,36,90,000","28,59,30,000","25,06,70,000","25,22,30,000"
Capital expenditure,"-3,24,90,000","-3,24,90,000","-2,23,10,000","-1,86,20,000","-1,99,00,000"
Free cash flow,"29,12,00,000","29,12,00,000","26,36,20,000","23,20,50,000","23,23,30,000"

In [10]:
save_path = './YESBANK.NS'
save_path_main = Path(save_path + f'/summary_{str(datetime.now().date())}.csv')

In [16]:
import requests
from bs4 import BeautifulSoup
ticker = 'TCS.NS'
page = requests.get(f'https://in.finance.yahoo.com/quote/{ticker}/cash-flow?p={ticker}')
page_content = page.content
soup = BeautifulSoup(page_content,'html.parser')
#tabl = soup.find_all('div', {'class': [table_tag]})

In [17]:
#length.get_text()

In [21]:
length = soup.find_all('div',{'class':{'D(tbr) C($primaryColor)'}})
columns = []
for t in length:
    rows = t.find_all("div")
    for i,row in enumerate(rows,1):
        columns.append(row.get_text())

In [23]:
columns[2:]

['ttm', '31/3/2020', '31/3/2019', '31/3/2018', '31/3/2017']

In [3]:
for x,y in dict_val.items():
    print(x,y)

Date ['Open', 'High', 'Low', 'Close*', 'Adj. close**', 'Volume']
09-Jun-2020 ['2,063.10', '2,095.50', '2,060.25', '2,072.05', '2,072.05', '29,09,439']
08-Jun-2020 ['2,078.25', '2,095.00', '2,062.10', '2,071.75', '2,071.75', '29,57,841']
05-Jun-2020 ['2,091.60', '2,098.00', '2,040.30', '2,048.25', '2,048.25', '35,73,289']
04-Jun-2020 ['2,046.75', '2,100.00', '2,046.75', '2,091.55', '2,091.55', '40,48,593']
03-Jun-2020 ['6', ' ', 'Dividend']
02-Jun-2020 ['2,060.20', '2,081.00', '2,040.05', '2,047.15', '2,041.15', '24,43,886']
01-Jun-2020 ['1,990.00', '2,060.00', '1,981.10', '2,045.25', '2,039.26', '37,47,773']

In [4]:
len(dict_val)

8

In [11]:
df['data'].apply(pd.Series)

KeyError: 'data'

In [2]:
ticker = 'MSFT'
url = 'https://in.finance.yahoo.com/quote/'+ticker+'/key-statistics?p='+ticker

In [7]:
table_tag = 'Mstart(a) Mend(a)'
page = requests.get(url)
page_content = page.content
soup = BeautifulSoup(page_content,'html.parser')
tabl = soup.findAll("div", {"class": table_tag})

In [9]:
t1 = soup.findAll("table")

In [14]:
import time
import datetime
s = '2019-02-03'
start_date = time.mktime(datetime.datetime.strptime(s, "%Y-%m-%d").timetuple())

In [20]:
np.int64(start_date)

1549132200