In [2]:
import pandas as pd

In [3]:
from signals import signals
import data_creator as dc

In [4]:
path = r"C:\Users\8prab\Google Drive\Work\trading\NIFTY_data\NIFTY_2008_2020.csv"
data = pd.read_csv(path)

In [5]:
time_frames = ['3min','5min','10min','15min','30min','1hour','openinghr','lasthr']
saved_file_prefix = 'data'
save_data = True
base_location = './NIFTY_data/'
time_col = 'Time'
date_col = 'Date'
date_fmt = "%Y%m%d %H:%M"
saved_path,dfs_list = dc.create_timeframe_df(data,time_frames,date_fmt,date_col,time_col,base_location,saved_file_prefix,save_data)

Save at location ./NIFTY_data/data_3min.csv
Save at location ./NIFTY_data/data_5min.csv
Save at location ./NIFTY_data/data_10min.csv
Save at location ./NIFTY_data/data_15min.csv
Save at location ./NIFTY_data/data_30min.csv
Save at location ./NIFTY_data/data_1hour.csv
Save at location ./NIFTY_data/data_openinghr.csv
Save at location ./NIFTY_data/data_lasthr.csv

In [6]:
sig = signals(saved_path[0])

In [29]:
from talib.abstract import *
sig.df['x']=CDL3BLACKCROWS(sig.open, sig.high, sig.low, sig.close)

In [30]:
sig.close

array([ 6127.95,  6121.9 ,  6123.85, ..., 12975.65, 12946.85, 12942.85])

In [32]:
sig.df['x']=CDL3BLACKCROWS(sig.open, sig.high, sig.low, sig.close)

In [33]:
sig.df

,Date,Instrument,Open,High,Low,Close,pattern_inverted_hammer,momentum_ADX,pattern_3_outside_updown,x
0,2008-01-01 09:57:00,NIFTY,6138.25,6138.25,6127.95,6127.95,0,NaN,0,0
1,2008-01-01 10:03:00,NIFTY,6124.85,6126.05,6121.90,6121.90,0,NaN,0,0
2,2008-01-01 10:06:00,NIFTY,6115.85,6123.85,6115.85,6123.85,0,NaN,0,0
3,2008-01-01 10:09:00,NIFTY,6128.50,6130.65,6128.50,6128.90,0,NaN,0,0
4,2008-01-01 10:12:00,NIFTY,6125.75,6125.75,6123.15,6123.60,0,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...
373020,2020-11-27 15:18:00,NIFTY,12970.00,12972.70,12967.05,12967.10,0,10.090409,0,0
373021,2020-11-27 15:21:00,NIFTY,12972.15,12978.95,12971.35,12977.65,0,9.530219,0,0
373022,2020-11-27 15:24:00,NIFTY,12979.50,12979.65,12975.45,12975.65,0,9.053395,0,0
373023,2020-11-27 15:27:00,NIFTY,12960.05,12960.60,12946.35,12946.85,0,9.800813,0,0
373024,2020-11-27 15:30:00,NIFTY,12936.40,12948.60,12933.85,12942.85,0,11.020401,0,0

In [34]:
sig.df[sig.df['x']==1]

Empty DataFrame
Columns: [Date, Instrument, Open, High, Low, Close, pattern_inverted_hammer, momentum_ADX, pattern_3_outside_updown, x]
Index: []