In [2]:
import yfinance as yf

In [6]:
import yfinance as yf

msft = yf.Ticker("MSFT")

In [10]:
import yfinance as yf
data = yf.download("SPY AAPL", start="2017-01-01", end="2019-04-30")

[*********************100%***********************]  2 of 2 completed

In [11]:
data.shape

(583, 12)

In [12]:
data

             Adj Close                   Close                    High  \
                  AAPL         SPY        AAPL         SPY        AAPL
Date
2017-01-03  110.691154  211.552551  116.150002  225.240005  116.330002
2017-01-04  110.567276  212.811111  116.019997  226.580002  116.510002
2017-01-05  111.129562  212.642044  116.610001  226.399994  116.860001
2017-01-06  112.368469  213.402817  117.910004  227.210007  118.160004
2017-01-09  113.397697  212.698441  118.989998  226.460007  119.430000
...                ...         ...         ...         ...         ...
2019-04-23  204.799362  287.015472  207.479996  292.880005  207.750000
2019-04-24  204.483505  286.378540  207.160004  292.230011  208.479996
2019-04-25  202.627808  286.202118  205.279999  292.049988  207.759995
2019-04-26  201.660461  287.534882  204.300003  293.410004  205.000000
2019-04-29  201.966461  287.985657  204.610001  293.869995  205.970001

                               Low                    Open              \
                   SPY        AAPL         SPY        AAPL         SPY
Date
2017-01-03  225.830002  114.760002  223.880005  115.800003  225.039993
2017-01-04  226.750000  115.750000  225.610001  115.849998  225.619995
2017-01-05  226.580002  115.809998  225.479996  115.919998  226.270004
2017-01-06  227.750000  116.470001  225.899994  116.779999  226.529999
2017-01-09  227.070007  117.940002  226.419998  117.949997  226.910004
...                ...         ...         ...         ...         ...
2019-04-23  293.140015  203.899994  290.420013  204.429993  290.679993
2019-04-24  293.160004  207.050003  292.070007  207.360001  292.790009
2019-04-25  292.779999  205.119995  290.730011  206.830002  292.119995
2019-04-26  293.489990  202.119995  291.239990  204.899994  292.100006
2019-04-29  294.450012  203.860001  293.410004  204.399994  293.510010

              Volume
                AAPL       SPY
Date
2017-01-03  28781900  91366500
2017-01-04  21118100  78744400
2017-01-05  22193600  78379000
2017-01-06  31751900  71559900
2017-01-09  33561900  46939700
...              ...       ...
2019-04-23  23323000  52246600
2019-04-24  17540600  50392900
2019-04-25  18543200  57770900
2019-04-26  18649100  50916400
2019-04-29  22204700  57197700

[583 rows x 12 columns]

In [13]:
data = yf.download(  # or pdr.get_data_yahoo(...
        # tickers list or string as well
        tickers = "SPY AAPL MSFT",

        # use "period" instead of start/end
        # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
        # (optional, default is '1mo')
        period = "ytd",

        # fetch data by interval (including intraday if period < 60 days)
        # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
        # (optional, default is '1d')
        interval = "1m",

        # group by ticker (to access via data['SPY'])
        # (optional, default is 'column')
        group_by = 'ticker',

        # adjust all OHLC automatically
        # (optional, default is False)
        auto_adjust = True,

        # download pre/post regular market hours data
        # (optional, default is False)
        prepost = True,

        # use threads for mass downloading? (True/False/Integer)
        # (optional, default is True)
        threads = True,

        # proxy URL scheme use use when downloading?
        # (optional, default is None)
        proxy = None
    )

[*********************100%***********************]  3 of 3 completed

3 Failed downloads:
- SPY: 1m data not available for startTime=1577868747 and endTime=1588668747. Only 7 days worth of 1m granularity data are allowed to be fetched per request.
- MSFT: 1m data not available for startTime=1577868747 and endTime=1588668747. Only 7 days worth of 1m granularity data are allowed to be fetched per request.
- AAPL: 1m data not available for startTime=1577868747 and endTime=1588668747. Only 7 days worth of 1m granularity data are allowed to be fetched per request.

In [16]:
import yfinance as yf

msft = yf.Ticker("MSFT")

# get stock info
msft.info

# get historical market data
hist = msft.history(period="max")

# show actions (dividends, splits)
msft.actions

# show dividends
msft.dividends

# show splits
msft.splits

# show financials
msft.financials
msft.quarterly_financials

# show major holders
msft.major_holders

# show institutional holders
msft.institutional_holders

# show balance heet
msft.balance_sheet
msft.quarterly_balance_sheet

# show cashflow
msft.cashflow
msft.quarterly_cashflow

# show earnings
msft.earnings
msft.quarterly_earnings

# show sustainability
msft.sustainability

# show analysts recommendations
msft.recommendations

# show next event (earnings, etc)
msft.calendar

# show ISIN code - *experimental*
# ISIN = International Securities Identification Number
msft.isin

# show options expirations
msft.options

# get option chain for specific expiration
opt = msft.option_chain('2020-05-08')
# data available via: opt.calls, opt.puts

In [17]:
opt

Options(calls=         contractSymbol       lastTradeDate  strike  lastPrice  bid  ask  \
0   MSFT200508C00140000 2020-05-04 13:59:59   140.0      36.05  0.0  0.0
1   MSFT200508C00141000 2020-05-04 15:32:05   141.0      36.53  0.0  0.0
2   MSFT200508C00142000 2020-05-04 15:32:05   142.0      35.51  0.0  0.0
3   MSFT200508C00143000 2020-04-06 14:28:53   143.0      20.90  0.0  0.0
4   MSFT200508C00144000 2020-04-22 16:47:22   144.0      28.74  0.0  0.0
5   MSFT200508C00145000 2020-04-29 19:35:13   145.0      32.25  0.0  0.0
6   MSFT200508C00146000 2020-04-30 15:54:46   146.0      31.99  0.0  0.0
7   MSFT200508C00147000 2020-04-30 13:38:04   147.0      29.76  0.0  0.0
8   MSFT200508C00148000 2020-05-04 18:16:12   148.0      29.59  0.0  0.0
9   MSFT200508C00149000 2020-05-01 14:01:41   149.0      29.10  0.0  0.0
10  MSFT200508C00150000 2020-05-04 15:19:31   150.0      27.60  0.0  0.0
11  MSFT200508C00152500 2020-05-01 18:11:26   152.5      22.20  0.0  0.0
12  MSFT200508C00155000 2020-05-04 16:37:59   155.0      21.91  0.0  0.0
13  MSFT200508C00157500 2020-05-04 17:16:17   157.5      19.40  0.0  0.0
14  MSFT200508C00160000 2020-05-04 19:23:18   160.0      18.65  0.0  0.0
15  MSFT200508C00162500 2020-05-04 19:51:42   162.5      16.19  0.0  0.0
16  MSFT200508C00165000 2020-05-04 19:57:46   165.0      14.05  0.0  0.0
17  MSFT200508C00167500 2020-05-04 19:55:30   167.5      11.37  0.0  0.0
18  MSFT200508C00170000 2020-05-04 19:59:12   170.0       9.18  0.0  0.0
19  MSFT200508C00172500 2020-05-04 19:58:37   172.5       7.10  0.0  0.0
20  MSFT200508C00175000 2020-05-04 19:59:51   175.0       5.10  0.0  0.0
21  MSFT200508C00177500 2020-05-04 19:59:59   177.5       3.45  0.0  0.0
22  MSFT200508C00180000 2020-05-04 19:59:59   180.0       2.08  0.0  0.0
23  MSFT200508C00182500 2020-05-04 19:59:59   182.5       1.15  0.0  0.0
24  MSFT200508C00185000 2020-05-04 19:59:56   185.0       0.60  0.0  0.0
25  MSFT200508C00187500 2020-05-04 19:59:56   187.5       0.29  0.0  0.0
26  MSFT200508C00190000 2020-05-04 19:59:28   190.0       0.14  0.0  0.0
27  MSFT200508C00192500 2020-05-04 19:57:55   192.5       0.09  0.0  0.0
28  MSFT200508C00195000 2020-05-04 19:59:25   195.0       0.06  0.0  0.0
29  MSFT200508C00197500 2020-05-04 19:59:20   197.5       0.03  0.0  0.0
30  MSFT200508C00200000 2020-05-04 19:59:50   200.0       0.04  0.0  0.0
31  MSFT200508C00205000 2020-05-04 19:59:44   205.0       0.02  0.0  0.0
32  MSFT200508C00210000 2020-05-04 17:25:56   210.0       0.01  0.0  0.0

    change  percentChange   volume  openInterest  impliedVolatility  \
0      0.0            0.0      1.0             0           0.000010
1      0.0            0.0      5.0             0           0.000010
2      0.0            0.0      3.0             0           0.000010
3      0.0            0.0      NaN             0           0.000010
4      0.0            0.0      NaN             0           0.000010
5      0.0            0.0      2.0             0           0.000010
6      0.0            0.0      1.0             0           0.000010
7      0.0            0.0      1.0             0           0.000010
8      0.0            0.0      2.0             0           0.000010
9      0.0            0.0      1.0             0           0.000010
10     0.0            0.0      7.0             0           0.000010
11     0.0            0.0     18.0             0           0.000010
12     0.0            0.0     10.0             0           0.000010
13     0.0            0.0      7.0             0           0.000010
14     0.0            0.0     56.0             0           0.000010
15     0.0            0.0     16.0             0           0.000010
16     0.0            0.0    118.0             0           0.000010
17     0.0            0.0    127.0             0           0.000010
18     0.0            0.0   1247.0             0           0.000010
19     0.0            0.0    837.0             0           0.000010
20     0.0            0.0   5665.0             0           0.000010
21     0.0            0.0  12936.0             0           0.000010
22     0.0            0.0  50201.0             0           0.015635
23     0.0            0.0  12685.0             0           0.062509
24     0.0            0.0  11054.0             0           0.062509
25     0.0            0.0   3656.0             0           0.125009
26     0.0            0.0   2908.0             0           0.125009
27     0.0            0.0    978.0             0           0.125009
28     0.0            0.0    442.0             0           0.250007
29     0.0            0.0    163.0             0           0.250007
30     0.0            0.0    733.0             0           0.250007
31     0.0            0.0    654.0             0           0.250007
32     0.0            0.0     81.0             0           0.250007

    inTheMoney contractSize currency
0         True      REGULAR      USD
1         True      REGULAR      USD
2         True      REGULAR      USD
3         True      REGULAR      USD
4         True      REGULAR      USD
5         True      REGULAR      USD
6         True      REGULAR      USD
7         True      REGULAR      USD
8         True      REGULAR      USD
9         True      REGULAR      USD
10        True      REGULAR      USD
11        True      REGULAR      USD
12        True      REGULAR      USD
13        True      REGULAR      USD
14        True      REGULAR      USD
15        True      REGULAR      USD
16        True      REGULAR      USD
17        True      REGULAR      USD
18        True      REGULAR      USD
19        True      REGULAR      USD
20        True      REGULAR      USD
21        True      REGULAR      USD
22       False      REGULAR      USD
23       False      REGULAR      USD
24       False      REGULAR      USD
25       False      REGULAR      USD
26       False      REGULAR      USD
27       False      REGULAR      USD
28       False      REGULAR      USD
29       False      REGULAR      USD
30       False      REGULAR      USD
31       False      REGULAR      USD
32       False      REGULAR      USD  , puts=         contractSymbol       lastTradeDate  strike  lastPrice  bid  ask  \
0   MSFT200508P00140000 2020-05-04 19:40:18   140.0       0.01  0.0  0.0
1   MSFT200508P00141000 2020-05-04 16:58:54   141.0       0.02  0.0  0.0
2   MSFT200508P00142000 2020-05-01 14:51:18   142.0       0.04  0.0  0.0
3   MSFT200508P00143000 2020-05-01 19:46:12   143.0       0.04  0.0  0.0
4   MSFT200508P00144000 2020-05-04 15:07:52   144.0       0.01  0.0  0.0
5   MSFT200508P00145000 2020-05-04 19:17:21   145.0       0.01  0.0  0.0
6   MSFT200508P00146000 2020-05-04 18:40:20   146.0       0.03  0.0  0.0
7   MSFT200508P00147000 2020-05-01 18:22:49   147.0       0.06  0.0  0.0
8   MSFT200508P00148000 2020-05-04 17:58:09   148.0       0.02  0.0  0.0
9   MSFT200508P00149000 2020-05-04 13:52:18   149.0       0.03  0.0  0.0
10  MSFT200508P00150000 2020-05-04 19:48:09   150.0       0.02  0.0  0.0
11  MSFT200508P00152500 2020-05-04 19:54:03   152.5       0.03  0.0  0.0
12  MSFT200508P00155000 2020-05-04 19:58:01   155.0       0.03  0.0  0.0
13  MSFT200508P00157500 2020-05-04 19:51:42   157.5       0.04  0.0  0.0
14  MSFT200508P00160000 2020-05-04 19:58:29   160.0       0.04  0.0  0.0
15  MSFT200508P00162500 2020-05-04 19:57:23   162.5       0.06  0.0  0.0
16  MSFT200508P00165000 2020-05-04 19:59:49   165.0       0.12  0.0  0.0
17  MSFT200508P00167500 2020-05-04 19:59:56   167.5       0.20  0.0  0.0
18  MSFT200508P00170000 2020-05-04 19:59:54   170.0       0.38  0.0  0.0
19  MSFT200508P00172500 2020-05-04 19:59:55   172.5       0.70  0.0  0.0
20  MSFT200508P00175000 2020-05-04 19:59:59   175.0       1.25  0.0  0.0
21  MSFT200508P00177500 2020-05-04 19:59:51   177.5       2.07  0.0  0.0
22  MSFT200508P00180000 2020-05-04 19:59:45   180.0       3.36  0.0  0.0
23  MSFT200508P00182500 2020-05-04 19:59:54   182.5       4.80  0.0  0.0
24  MSFT200508P00185000 2020-05-04 19:59:18   185.0       6.95  0.0  0.0
25  MSFT200508P00187500 2020-05-04 19:47:45   187.5       9.10  0.0  0.0
26  MSFT200508P00190000 2020-05-04 19:50:41   190.0      11.40  0.0  0.0
27  MSFT200508P00192500 2020-05-04 14:43:13   192.5      15.75  0.0  0.0
28  MSFT200508P00195000 2020-05-04 14:43:13   195.0      18.15  0.0  0.0
29  MSFT200508P00197500 2020-04-30 16:04:59   197.5      20.00  0.0  0.0
30  MSFT200508P00200000 2020-05-04 19:18:31   200.0      21.50  0.0  0.0
31  MSFT200508P00205000 2020-05-04 18:00:26   205.0      27.30  0.0  0.0
32  MSFT200508P00210000 2020-05-04 17:11:02   210.0      33.05  0.0  0.0

    change  percentChange   volume  openInterest  impliedVolatility  \
0      0.0            0.0      2.0             0           0.500005
1      0.0            0.0     12.0             0           0.500005
2      0.0            0.0     10.0             0           0.500005
3      0.0            0.0      1.0             0           0.500005
4      0.0            0.0      1.0             0           0.500005
5      0.0            0.0     20.0             0           0.500005
6      0.0            0.0     36.0             0           0.500005
7      0.0            0.0    101.0             0           0.500005
8      0.0            0.0      6.0             0           0.500005
9      0.0            0.0     10.0             0           0.500005
10     0.0            0.0    139.0             0           0.500005
11     0.0            0.0     81.0             0           0.250007
12     0.0            0.0    212.0             0           0.250007
13     0.0            0.0    191.0             0           0.250007
14     0.0            0.0   1170.0             0           0.250007
15     0.0            0.0   1422.0             0           0.250007
16     0.0            0.0   4325.0             0           0.125009
17     0.0            0.0   3326.0             0           0.125009
18     0.0            0.0   8695.0             0           0.125009
19     0.0            0.0   5342.0             0           0.062509
20     0.0            0.0  10649.0             0           0.062509
21     0.0            0.0   6630.0             0           0.015635
22     0.0            0.0    990.0             0           0.000010
23     0.0            0.0    111.0             0           0.000010
24     0.0            0.0     52.0             0           0.000010
25     0.0            0.0      3.0             0           0.000010
26     0.0            0.0     29.0             0           0.000010
27     0.0            0.0      5.0             0           0.000010
28     0.0            0.0      5.0             0           0.000010
29     0.0            0.0      NaN             0           0.000010
30     0.0            0.0    175.0             0           0.000010
31     0.0            0.0      3.0             0           0.000010
32     0.0            0.0      7.0             0           0.000010

    inTheMoney contractSize currency
0        False      REGULAR      USD
1        False      REGULAR      USD
2        False      REGULAR      USD
3        False      REGULAR      USD
4        False      REGULAR      USD
5        False      REGULAR      USD
6        False      REGULAR      USD
7        False      REGULAR      USD
8        False      REGULAR      USD
9        False      REGULAR      USD
10       False      REGULAR      USD
11       False      REGULAR      USD
12       False      REGULAR      USD
13       False      REGULAR      USD
14       False      REGULAR      USD
15       False      REGULAR      USD
16       False      REGULAR      USD
17       False      REGULAR      USD
18       False      REGULAR      USD
19       False      REGULAR      USD
20       False      REGULAR      USD
21       False      REGULAR      USD
22        True      REGULAR      USD
23        True      REGULAR      USD
24        True      REGULAR      USD
25        True      REGULAR      USD
26        True      REGULAR      USD
27        True      REGULAR      USD
28        True      REGULAR      USD
29        True      REGULAR      USD
30        True      REGULAR      USD
31        True      REGULAR      USD
32        True      REGULAR      USD  )

In [18]:
msft.quarterly_balance_sheet

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [19]:
msft.institutional_holders

,Holder,Shares,Date Reported,% Out,Value
0,"Vanguard Group, Inc. (The)",623667281,2019-12-30,0.0820,98352330213
1,Blackrock Inc.,515197221,2019-12-30,0.0677,81246601751
2,State Street Corporation,315672520,2019-12-30,0.0415,49781556404
3,"FMR, LLC",239124143,2019-12-30,0.0314,37709877351
4,Capital World Investors,180557630,2019-12-30,0.0237,28473938251
5,Price (T.Rowe) Associates Inc,175036277,2019-12-30,0.0230,27603220882
6,"Geode Capital Management, LLC",113401519,2019-12-30,0.0149,17883419546
7,Capital International Investors,99996798,2019-12-30,0.0131,15769495044
8,Northern Trust Corporation,93192050,2019-12-30,0.0123,14696386285
9,Capital Research Global Investors,92776236,2019-12-30,0.0122,14630812417

In [22]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13,0.06,0.07,0.06,0.06,1031788800,0.0,0.0
1986-03-14,0.06,0.07,0.06,0.06,308160000,0.0,0.0
1986-03-17,0.06,0.07,0.06,0.07,133171200,0.0,0.0
1986-03-18,0.07,0.07,0.06,0.06,67766400,0.0,0.0
1986-03-19,0.06,0.06,0.06,0.06,47894400,0.0,0.0
...,...,...,...,...,...,...,...
2020-04-28,175.59,175.67,169.39,169.81,34392700,0.0,0.0
2020-04-29,173.22,177.68,171.88,177.43,51286600,0.0,0.0
2020-04-30,180.00,180.40,176.23,179.21,53875900,0.0,0.0
2020-05-01,175.80,178.64,174.01,174.57,39370500,0.0,0.0
2020-05-04,174.49,179.00,173.80,178.84,30336200,0.0,0.0

In [31]:
msft.recommendations

                      Firm       To Grade From Grade Action
Date
2012-03-16  Argus Research            Buy                up
2012-03-19  Hilliard Lyons  Long-Term Buy              main
2012-03-22  Morgan Stanley     Overweight              main
2012-04-03             UBS            Buy              main
2012-04-20   Goldman Sachs        Neutral              main
...                    ...            ...        ...    ...
2020-04-30  Morgan Stanley     Overweight              main
2020-04-30       Citigroup        Neutral              main
2020-04-30     BMO Capital     Outperform              main
2020-04-30   Credit Suisse     Outperform              main
2020-04-30          Mizuho            Buy              main

[281 rows x 4 columns]

In [34]:
import yfinance as yf

infy = yf.Ticker("INFY.NS")

In [35]:
# get historical market data
infy = infy.history(period="max")

In [36]:
infy

              Open   High     Low   Close    Volume  Dividends  Stock Splits
Date
1996-01-01   -0.00   -0.0   -0.00   -0.00    204800        0.0           0.0
1996-01-02   -0.00   -0.0   -0.00   -0.00    204800        0.0           0.0
1996-01-03   -0.00   -0.0   -0.00   -0.00    102400        0.0           0.0
1996-01-04   -0.00   -0.0   -0.00   -0.00    307200        0.0           0.0
1996-01-05   -0.00   -0.0   -0.00   -0.00     51200        0.0           0.0
...            ...    ...     ...     ...       ...        ...           ...
2020-04-28  673.00  677.0  653.05  660.70   7296571        0.0           0.0
2020-04-29  666.00  682.0  658.00  676.55   8639056        0.0           0.0
2020-04-30  700.00  720.0  698.10  715.50  16253821        0.0           0.0
2020-05-04  689.80  701.2  670.35  673.70   9122740        0.0           0.0
2020-05-05  681.75  685.6  670.00  673.70   6393006        0.0           0.0

[6007 rows x 7 columns]

In [135]:
import difflib
def matches(lista, listb):
    list1 = lista.copy()
    list2 = listb.copy()
    while True:
        mbs = difflib.SequenceMatcher(None, list1, list2).get_matching_blocks()
        #print(mbs)
        if len(mbs) == 1: break
        for i, j, n in mbs[::-1]:  
            if n > 0: yield list1[i: i + n]
            del list1[i: i + n]
            del list2[j: j + n]
def get_common_sublist(list1,list2):
    t = list(matches(list1, list2))
    common_list = max(t, key=lambda coll: len(coll))
    for i in range(len(list1)):
        if common_sublist == list1[i:len(common_sublist)+i]:
            start = i
            end = i+len(common_sublist)
    return start,end

In [136]:
a = [2,7,45,34,45,456,565,455,432,45,2,3,45,56,67,76]
b = [7,455,432,45,2,3,45,4]

In [137]:
a

[2, 7, 45, 34, 45, 456, 565, 455, 432, 45, 2, 3, 45, 56, 67, 76]

In [148]:
common_sublist = get_common_sublist(a,b)
common_sublist

(7, 13)

In [142]:
a

[2, 7, 45, 34, 45, 456, 565, 455, 432, 45, 2, 3, 45, 56, 67, 76]

In [146]:
for i in range(len(a)):
    print(a[i:len(common_sublist)+i])
    if common_sublist == a[i:len(common_sublist)+i]:
        print(i,i+len(common_sublist))

[2, 7, 45, 34, 45, 456]
[7, 45, 34, 45, 456, 565]
[45, 34, 45, 456, 565, 455]
[34, 45, 456, 565, 455, 432]
[45, 456, 565, 455, 432, 45]
[456, 565, 455, 432, 45, 2]
[565, 455, 432, 45, 2, 3]
[455, 432, 45, 2, 3, 45]
7 13
[432, 45, 2, 3, 45, 56]
[45, 2, 3, 45, 56, 67]
[2, 3, 45, 56, 67, 76]
[3, 45, 56, 67, 76]
[45, 56, 67, 76]
[56, 67, 76]
[67, 76]
[76]

In [43]:
b in a

False

In [47]:
b[1:1] == a

False

In [46]:
a

[2, 7, 45, 34, 45, 456, 565, 455, 432, 45, 2, 3, 45, 56, 67, 76]

In [51]:

list3 = set(a)&set(b) # we don't need to list3 to actually be a list

list4 = sorted(list3, key = lambda k : b.index(k))

In [52]:
list4

[7, 455, 432, 45, 2, 3]

In [53]:
b

[7, 455, 432, 45, 2, 3, 45, 4]

In [ ]:
for